<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eda.dao.DclassifyDao">

    <resultMap type="com.eda.entity.Dclassify" id="DclassifyMap">
        <result property="dId" column="d_id" jdbcType="INTEGER"/>
        <result property="gId" column="g_id" jdbcType="INTEGER"/>
        <result property="dType" column="d_type" jdbcType="VARCHAR"/>
        <result property="test1" column="test1" jdbcType="VARCHAR"/>
        <result property="test2" column="test2" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="DclassifyMap">
        select d_id,
               g_id,
               d_type,
               test1,
               test2
        from dclassify
        where d_id = #{dId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="DclassifyMap">
        select
        d_id, g_id, d_type, test1, test2
        from dclassify
        <where>
            <if test="dId != null">
                and d_id = #{dId}
            </if>
            <if test="gId != null">
                and g_id = #{gId}
            </if>
            <if test="dType != null and dType != ''">
                and d_type = #{dType}
            </if>
            <if test="test1 != null and test1 != ''">
                and test1 = #{test1}
            </if>
            <if test="test2 != null and test2 != ''">
                and test2 = #{test2}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from dclassify
        <where>
            <if test="dId != null">
                and d_id = #{dId}
            </if>
            <if test="gId != null">
                and g_id = #{gId}
            </if>
            <if test="dType != null and dType != ''">
                and d_type = #{dType}
            </if>
            <if test="test1 != null and test1 != ''">
                and test1 = #{test1}
            </if>
            <if test="test2 != null and test2 != ''">
                and test2 = #{test2}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="dId" useGeneratedKeys="true">
        insert into dclassify(g_id, d_type, test1, test2)
        values (#{gId}, #{dType}, #{test1}, #{test2})
    </insert>

    <insert id="insertBatch" keyProperty="dId" useGeneratedKeys="true">
        insert into dclassify(g_id, d_type, test1, test2)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.gId}, #{entity.dType}, #{entity.test1}, #{entity.test2})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="dId" useGeneratedKeys="true">
        insert into dclassify(g_id, d_type, test1, test2)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.gId}, #{entity.dType}, #{entity.test1}, #{entity.test2})
        </foreach>
        on duplicate key update
        g_id = values(g_id),
        d_type = values(d_type),
        test1 = values(test1),
        test2 = values(test2)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update dclassify
        <set>
            <if test="gId != null">
                g_id = #{gId},
            </if>
            <if test="dType != null and dType != ''">
                d_type = #{dType},
            </if>
            <if test="test1 != null and test1 != ''">
                test1 = #{test1},
            </if>
            <if test="test2 != null and test2 != ''">
                test2 = #{test2},
            </if>
        </set>
        where d_id = #{dId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from dclassify
        where d_id = #{dId}
    </delete>

</mapper>

