<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eda.dao.GimgDao">

    <resultMap type="com.eda.entity.Gimg" id="GimgMap">
        <result property="gimgId" column="gimg_id" jdbcType="INTEGER"/>
        <result property="gimgName" column="gimg_name" jdbcType="VARCHAR"/>
        <result property="gid" column="gid" jdbcType="INTEGER"/>
        <result property="test1" column="test1" jdbcType="VARCHAR"/>
        <result property="test2" column="test2" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="GimgMap">
        select gimg_id,
               gimg_name,
               gid,
               test1,
               test2
        from gimg
        where gimg_id = #{gimgId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="GimgMap">
        select
        gimg_id, gimg_name, gid, test1, test2
        from gimg
        <where>
            <if test="gimgId != null">
                and gimg_id = #{gimgId}
            </if>
            <if test="gimgName != null and gimgName != ''">
                and gimg_name = #{gimgName}
            </if>
            <if test="gid != null">
                and gid = #{gid}
            </if>
            <if test="test1 != null and test1 != ''">
                and test1 = #{test1}
            </if>
            <if test="test2 != null and test2 != ''">
                and test2 = #{test2}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from gimg
        <where>
            <if test="gimgId != null">
                and gimg_id = #{gimgId}
            </if>
            <if test="gimgName != null and gimgName != ''">
                and gimg_name = #{gimgName}
            </if>
            <if test="gid != null">
                and gid = #{gid}
            </if>
            <if test="test1 != null and test1 != ''">
                and test1 = #{test1}
            </if>
            <if test="test2 != null and test2 != ''">
                and test2 = #{test2}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="gimgId" useGeneratedKeys="true">
        insert into gimg(gimg_name, gid, test1, test2)
        values (#{gimgName}, #{gid}, #{test1}, #{test2})
    </insert>

    <insert id="insertBatch" keyProperty="gimgId" useGeneratedKeys="true">
        insert into gimg(gimg_name, gid, test1, test2)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.gimgName}, #{entity.gid}, #{entity.test1}, #{entity.test2})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="gimgId" useGeneratedKeys="true">
        insert into gimg(gimg_name, gid, test1, test2)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.gimgName}, #{entity.gid}, #{entity.test1}, #{entity.test2})
        </foreach>
        on duplicate key update
        gimg_name = values(gimg_name),
        gid = values(gid),
        test1 = values(test1),
        test2 = values(test2)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update gimg
        <set>
            <if test="gimgName != null and gimgName != ''">
                gimg_name = #{gimgName},
            </if>
            <if test="gid != null">
                gid = #{gid},
            </if>
            <if test="test1 != null and test1 != ''">
                test1 = #{test1},
            </if>
            <if test="test2 != null and test2 != ''">
                test2 = #{test2},
            </if>
        </set>
        where gimg_id = #{gimgId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from gimg
        where gimg_id = #{gimgId}
    </delete>

</mapper>

