<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eda.dao.OrdersDao">

    <resultMap type="com.eda.entity.Orders" id="OrdersMap">
        <result property="oId" column="o_id" jdbcType="INTEGER"/>
        <result property="oPrice" column="o_price" jdbcType="VARCHAR"/>
        <result property="oType" column="o_type" jdbcType="INTEGER"/>
        <result property="oPosyfee" column="o_posyfee" jdbcType="VARCHAR"/>
        <result property="oStatus" column="o_status" jdbcType="INTEGER"/>
        <result property="oCreatetime" column="o_createtime" jdbcType="TIMESTAMP"/>
        <result property="oUpdatetime" column="o_updatetime" jdbcType="TIMESTAMP"/>
        <result property="oPaytime" column="o_paytime" jdbcType="TIMESTAMP"/>
        <result property="oConsigntime" column="o_consigntime" jdbcType="TIMESTAMP"/>
        <result property="oEndtime" column="o_endtime" jdbcType="TIMESTAMP"/>
        <result property="tId" column="t_id" jdbcType="INTEGER"/>
        <result property="uId" column="u_id" jdbcType="INTEGER"/>
        <result property="gid" column="gid" jdbcType="INTEGER"/>
        <result property="test1" column="test1" jdbcType="VARCHAR"/>
        <result property="test2" column="test2" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="OrdersMap">
        select o_id,
               o_price,
               o_type,
               o_posyfee,
               o_status,
               o_createtime,
               o_updatetime,
               o_paytime,
               o_consigntime,
               o_endtime,
               t_id,
               u_id,
               gid,
               test1,
               test2
        from orders
        where o_id = #{oId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="OrdersMap">
        select
        o_id, o_price, o_type, o_posyfee, o_status, o_createtime, o_updatetime, o_paytime, o_consigntime, o_endtime,
        t_id, u_id, gid, test1, test2
        from orders
        <where>
            <if test="oId != null">
                and o_id = #{oId}
            </if>
            <if test="oPrice != null and oPrice != ''">
                and o_price = #{oPrice}
            </if>
            <if test="oType != null">
                and o_type = #{oType}
            </if>
            <if test="oPosyfee != null and oPosyfee != ''">
                and o_posyfee = #{oPosyfee}
            </if>
            <if test="oStatus != null">
                and o_status = #{oStatus}
            </if>
            <if test="oCreatetime != null">
                and o_createtime = #{oCreatetime}
            </if>
            <if test="oUpdatetime != null">
                and o_updatetime = #{oUpdatetime}
            </if>
            <if test="oPaytime != null">
                and o_paytime = #{oPaytime}
            </if>
            <if test="oConsigntime != null">
                and o_consigntime = #{oConsigntime}
            </if>
            <if test="oEndtime != null">
                and o_endtime = #{oEndtime}
            </if>
            <if test="tId != null">
                and t_id = #{tId}
            </if>
            <if test="uId != null">
                and u_id = #{uId}
            </if>
            <if test="gid != null">
                and gid = #{gid}
            </if>
            <if test="test1 != null and test1 != ''">
                and test1 = #{test1}
            </if>
            <if test="test2 != null and test2 != ''">
                and test2 = #{test2}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from orders
        <where>
            <if test="oId != null">
                and o_id = #{oId}
            </if>
            <if test="oPrice != null and oPrice != ''">
                and o_price = #{oPrice}
            </if>
            <if test="oType != null">
                and o_type = #{oType}
            </if>
            <if test="oPosyfee != null and oPosyfee != ''">
                and o_posyfee = #{oPosyfee}
            </if>
            <if test="oStatus != null">
                and o_status = #{oStatus}
            </if>
            <if test="oCreatetime != null">
                and o_createtime = #{oCreatetime}
            </if>
            <if test="oUpdatetime != null">
                and o_updatetime = #{oUpdatetime}
            </if>
            <if test="oPaytime != null">
                and o_paytime = #{oPaytime}
            </if>
            <if test="oConsigntime != null">
                and o_consigntime = #{oConsigntime}
            </if>
            <if test="oEndtime != null">
                and o_endtime = #{oEndtime}
            </if>
            <if test="tId != null">
                and t_id = #{tId}
            </if>
            <if test="uId != null">
                and u_id = #{uId}
            </if>
            <if test="gid != null">
                and gid = #{gid}
            </if>
            <if test="test1 != null and test1 != ''">
                and test1 = #{test1}
            </if>
            <if test="test2 != null and test2 != ''">
                and test2 = #{test2}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="oId" useGeneratedKeys="true">
        insert into orders(o_price, o_type, o_posyfee, o_status, o_createtime, o_updatetime, o_paytime, o_consigntime,
                           o_endtime, t_id, u_id, gid, test1, test2)
        values (#{oPrice}, #{oType}, #{oPosyfee}, #{oStatus}, #{oCreatetime}, #{oUpdatetime}, #{oPaytime},
                #{oConsigntime}, #{oEndtime}, #{tId}, #{uId}, #{gid}, #{test1}, #{test2})
    </insert>

    <insert id="insertBatch" keyProperty="oId" useGeneratedKeys="true">
        insert into orders(o_price, o_type, o_posyfee, o_status, o_createtime, o_updatetime, o_paytime, o_consigntime,
        o_endtime, t_id, u_id, gid, test1, test2)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.oPrice}, #{entity.oType}, #{entity.oPosyfee}, #{entity.oStatus}, #{entity.oCreatetime},
            #{entity.oUpdatetime}, #{entity.oPaytime}, #{entity.oConsigntime}, #{entity.oEndtime}, #{entity.tId},
            #{entity.uId}, #{entity.gid}, #{entity.test1}, #{entity.test2})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="oId" useGeneratedKeys="true">
        insert into orders(o_price, o_type, o_posyfee, o_status, o_createtime, o_updatetime, o_paytime, o_consigntime,
        o_endtime, t_id, u_id, gid, test1, test2)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.oPrice}, #{entity.oType}, #{entity.oPosyfee}, #{entity.oStatus}, #{entity.oCreatetime},
            #{entity.oUpdatetime}, #{entity.oPaytime}, #{entity.oConsigntime}, #{entity.oEndtime}, #{entity.tId},
            #{entity.uId}, #{entity.gid}, #{entity.test1}, #{entity.test2})
        </foreach>
        on duplicate key update
        o_price = values(o_price),
        o_type = values(o_type),
        o_posyfee = values(o_posyfee),
        o_status = values(o_status),
        o_createtime = values(o_createtime),
        o_updatetime = values(o_updatetime),
        o_paytime = values(o_paytime),
        o_consigntime = values(o_consigntime),
        o_endtime = values(o_endtime),
        t_id = values(t_id),
        u_id = values(u_id),
        gid = values(gid),
        test1 = values(test1),
        test2 = values(test2)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update orders
        <set>
            <if test="oPrice != null and oPrice != ''">
                o_price = #{oPrice},
            </if>
            <if test="oType != null">
                o_type = #{oType},
            </if>
            <if test="oPosyfee != null and oPosyfee != ''">
                o_posyfee = #{oPosyfee},
            </if>
            <if test="oStatus != null">
                o_status = #{oStatus},
            </if>
            <if test="oCreatetime != null">
                o_createtime = #{oCreatetime},
            </if>
            <if test="oUpdatetime != null">
                o_updatetime = #{oUpdatetime},
            </if>
            <if test="oPaytime != null">
                o_paytime = #{oPaytime},
            </if>
            <if test="oConsigntime != null">
                o_consigntime = #{oConsigntime},
            </if>
            <if test="oEndtime != null">
                o_endtime = #{oEndtime},
            </if>
            <if test="tId != null">
                t_id = #{tId},
            </if>
            <if test="uId != null">
                u_id = #{uId},
            </if>
            <if test="gid != null">
                gid = #{gid},
            </if>
            <if test="test1 != null and test1 != ''">
                test1 = #{test1},
            </if>
            <if test="test2 != null and test2 != ''">
                test2 = #{test2},
            </if>
        </set>
        where o_id = #{oId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from orders
        where o_id = #{oId}
    </delete>

</mapper>

