<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eda.dao.RecieverDao">

    <resultMap type="com.eda.entity.Reciever" id="RecieverMap">
        <result property="rId" column="r_id" jdbcType="INTEGER"/>
        <result property="rName" column="r_name" jdbcType="VARCHAR"/>
        <result property="rAddress" column="r_address" jdbcType="VARCHAR"/>
        <result property="rTel" column="r_tel" jdbcType="VARCHAR"/>
        <result property="test1" column="test1" jdbcType="VARCHAR"/>
        <result property="test2" column="test2" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="RecieverMap">
        select r_id,
               r_name,
               r_address,
               r_tel,
               test1,
               test2
        from reciever
        where r_id = #{rId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="RecieverMap">
        select
        r_id, r_name, r_address, r_tel, test1, test2
        from reciever
        <where>
            <if test="rId != null">
                and r_id = #{rId}
            </if>
            <if test="rName != null and rName != ''">
                and r_name = #{rName}
            </if>
            <if test="rAddress != null and rAddress != ''">
                and r_address = #{rAddress}
            </if>
            <if test="rTel != null and rTel != ''">
                and r_tel = #{rTel}
            </if>
            <if test="test1 != null and test1 != ''">
                and test1 = #{test1}
            </if>
            <if test="test2 != null and test2 != ''">
                and test2 = #{test2}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from reciever
        <where>
            <if test="rId != null">
                and r_id = #{rId}
            </if>
            <if test="rName != null and rName != ''">
                and r_name = #{rName}
            </if>
            <if test="rAddress != null and rAddress != ''">
                and r_address = #{rAddress}
            </if>
            <if test="rTel != null and rTel != ''">
                and r_tel = #{rTel}
            </if>
            <if test="test1 != null and test1 != ''">
                and test1 = #{test1}
            </if>
            <if test="test2 != null and test2 != ''">
                and test2 = #{test2}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="rId" useGeneratedKeys="true">
        insert into reciever(r_name, r_address, r_tel, test1, test2)
        values (#{rName}, #{rAddress}, #{rTel}, #{test1}, #{test2})
    </insert>

    <insert id="insertBatch" keyProperty="rId" useGeneratedKeys="true">
        insert into reciever(r_name, r_address, r_tel, test1, test2)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.rName}, #{entity.rAddress}, #{entity.rTel}, #{entity.test1}, #{entity.test2})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="rId" useGeneratedKeys="true">
        insert into reciever(r_name, r_address, r_tel, test1, test2)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.rName}, #{entity.rAddress}, #{entity.rTel}, #{entity.test1}, #{entity.test2})
        </foreach>
        on duplicate key update
        r_name = values(r_name),
        r_address = values(r_address),
        r_tel = values(r_tel),
        test1 = values(test1),
        test2 = values(test2)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update reciever
        <set>
            <if test="rName != null and rName != ''">
                r_name = #{rName},
            </if>
            <if test="rAddress != null and rAddress != ''">
                r_address = #{rAddress},
            </if>
            <if test="rTel != null and rTel != ''">
                r_tel = #{rTel},
            </if>
            <if test="test1 != null and test1 != ''">
                test1 = #{test1},
            </if>
            <if test="test2 != null and test2 != ''">
                test2 = #{test2},
            </if>
        </set>
        where r_id = #{rId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from reciever
        where r_id = #{rId}
    </delete>

</mapper>

