<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eda.dao.ShoppingcarDao">

    <resultMap type="com.eda.entity.Shoppingcar" id="ShoppingcarMap">
        <result property="shId" column="sh_id" jdbcType="INTEGER"/>
        <result property="gid" column="gid" jdbcType="INTEGER"/>
        <result property="shNumber" column="sh_number" jdbcType="INTEGER"/>
        <result property="uId" column="u_id" jdbcType="INTEGER"/>
        <result property="shCtime" column="sh_ctime" jdbcType="TIMESTAMP"/>
        <result property="test1" column="test1" jdbcType="VARCHAR"/>
        <result property="test2" column="test2" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ShoppingcarMap">
        select sh_id,
               gid,
               sh_number,
               u_id,
               sh_ctime,
               test1,
               test2
        from shoppingcar
        where sh_id = #{shId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ShoppingcarMap">
        select
        sh_id, gid, sh_number, u_id, sh_ctime, test1, test2
        from shoppingcar
        <where>
            <if test="shId != null">
                and sh_id = #{shId}
            </if>
            <if test="gid != null">
                and gid = #{gid}
            </if>
            <if test="shNumber != null">
                and sh_number = #{shNumber}
            </if>
            <if test="uId != null">
                and u_id = #{uId}
            </if>
            <if test="shCtime != null">
                and sh_ctime = #{shCtime}
            </if>
            <if test="test1 != null and test1 != ''">
                and test1 = #{test1}
            </if>
            <if test="test2 != null and test2 != ''">
                and test2 = #{test2}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from shoppingcar
        <where>
            <if test="shId != null">
                and sh_id = #{shId}
            </if>
            <if test="gid != null">
                and gid = #{gid}
            </if>
            <if test="shNumber != null">
                and sh_number = #{shNumber}
            </if>
            <if test="uId != null">
                and u_id = #{uId}
            </if>
            <if test="shCtime != null">
                and sh_ctime = #{shCtime}
            </if>
            <if test="test1 != null and test1 != ''">
                and test1 = #{test1}
            </if>
            <if test="test2 != null and test2 != ''">
                and test2 = #{test2}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="shId" useGeneratedKeys="true">
        insert into shoppingcar(gid, sh_number, u_id, sh_ctime, test1, test2)
        values (#{gid}, #{shNumber}, #{uId}, #{shCtime}, #{test1}, #{test2})
    </insert>

    <insert id="insertBatch" keyProperty="shId" useGeneratedKeys="true">
        insert into shoppingcar(gid, sh_number, u_id, sh_ctime, test1, test2)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.gid}, #{entity.shNumber}, #{entity.uId}, #{entity.shCtime}, #{entity.test1}, #{entity.test2})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="shId" useGeneratedKeys="true">
        insert into shoppingcar(gid, sh_number, u_id, sh_ctime, test1, test2)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.gid}, #{entity.shNumber}, #{entity.uId}, #{entity.shCtime}, #{entity.test1}, #{entity.test2})
        </foreach>
        on duplicate key update
        gid = values(gid),
        sh_number = values(sh_number),
        u_id = values(u_id),
        sh_ctime = values(sh_ctime),
        test1 = values(test1),
        test2 = values(test2)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update shoppingcar
        <set>
            <if test="gid != null">
                gid = #{gid},
            </if>
            <if test="shNumber != null">
                sh_number = #{shNumber},
            </if>
            <if test="uId != null">
                u_id = #{uId},
            </if>
            <if test="shCtime != null">
                sh_ctime = #{shCtime},
            </if>
            <if test="test1 != null and test1 != ''">
                test1 = #{test1},
            </if>
            <if test="test2 != null and test2 != ''">
                test2 = #{test2},
            </if>
        </set>
        where sh_id = #{shId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from shoppingcar
        where sh_id = #{shId}
    </delete>

</mapper>

