<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eda.dao.TrackDao">

    <resultMap type="com.eda.entity.Track" id="TrackMap">
        <result property="tId" column="t_id" jdbcType="INTEGER"/>
        <result property="tName" column="t_name" jdbcType="INTEGER"/>
        <result property="tCode" column="t_code" jdbcType="VARCHAR"/>
        <result property="sId" column="s_id" jdbcType="INTEGER"/>
        <result property="rId" column="r_id" jdbcType="INTEGER"/>
        <result property="test1" column="test1" jdbcType="VARCHAR"/>
        <result property="test2" column="test2" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TrackMap">
        select t_id,
               t_name,
               t_code,
               s_id,
               r_id,
               test1,
               test2
        from track
        where t_id = #{tId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TrackMap">
        select
        t_id, t_name, t_code, s_id, r_id, test1, test2
        from track
        <where>
            <if test="tId != null">
                and t_id = #{tId}
            </if>
            <if test="tName != null">
                and t_name = #{tName}
            </if>
            <if test="tCode != null and tCode != ''">
                and t_code = #{tCode}
            </if>
            <if test="sId != null">
                and s_id = #{sId}
            </if>
            <if test="rId != null">
                and r_id = #{rId}
            </if>
            <if test="test1 != null and test1 != ''">
                and test1 = #{test1}
            </if>
            <if test="test2 != null and test2 != ''">
                and test2 = #{test2}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from track
        <where>
            <if test="tId != null">
                and t_id = #{tId}
            </if>
            <if test="tName != null">
                and t_name = #{tName}
            </if>
            <if test="tCode != null and tCode != ''">
                and t_code = #{tCode}
            </if>
            <if test="sId != null">
                and s_id = #{sId}
            </if>
            <if test="rId != null">
                and r_id = #{rId}
            </if>
            <if test="test1 != null and test1 != ''">
                and test1 = #{test1}
            </if>
            <if test="test2 != null and test2 != ''">
                and test2 = #{test2}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="tId" useGeneratedKeys="true">
        insert into track(t_name, t_code, s_id, r_id, test1, test2)
        values (#{tName}, #{tCode}, #{sId}, #{rId}, #{test1}, #{test2})
    </insert>

    <insert id="insertBatch" keyProperty="tId" useGeneratedKeys="true">
        insert into track(t_name, t_code, s_id, r_id, test1, test2)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.tName}, #{entity.tCode}, #{entity.sId}, #{entity.rId}, #{entity.test1}, #{entity.test2})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="tId" useGeneratedKeys="true">
        insert into track(t_name, t_code, s_id, r_id, test1, test2)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.tName}, #{entity.tCode}, #{entity.sId}, #{entity.rId}, #{entity.test1}, #{entity.test2})
        </foreach>
        on duplicate key update
        t_name = values(t_name),
        t_code = values(t_code),
        s_id = values(s_id),
        r_id = values(r_id),
        test1 = values(test1),
        test2 = values(test2)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update track
        <set>
            <if test="tName != null">
                t_name = #{tName},
            </if>
            <if test="tCode != null and tCode != ''">
                t_code = #{tCode},
            </if>
            <if test="sId != null">
                s_id = #{sId},
            </if>
            <if test="rId != null">
                r_id = #{rId},
            </if>
            <if test="test1 != null and test1 != ''">
                test1 = #{test1},
            </if>
            <if test="test2 != null and test2 != ''">
                test2 = #{test2},
            </if>
        </set>
        where t_id = #{tId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from track
        where t_id = #{tId}
    </delete>

</mapper>

