<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eda.dao.VipDao">

    <resultMap type="com.eda.entity.Vip" id="VipMap">
        <result property="vId" column="v_id" jdbcType="INTEGER"/>
        <result property="vStatus" column="v_status" jdbcType="INTEGER"/>
        <result property="vPrice" column="v_price" jdbcType="VARCHAR"/>
        <result property="vDiscount" column="v_discount" jdbcType="VARCHAR"/>
        <result property="vCreatetime" column="v_createtime" jdbcType="TIMESTAMP"/>
        <result property="vEndtime" column="v_endtime" jdbcType="TIMESTAMP"/>
        <result property="test1" column="test1" jdbcType="VARCHAR"/>
        <result property="test2" column="test2" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="VipMap">
        select v_id,
               v_status,
               v_price,
               v_discount,
               v_createtime,
               v_endtime,
               test1,
               test2
        from vip
        where v_id = #{vId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="VipMap">
        select
        v_id, v_status, v_price, v_discount, v_createtime, v_endtime, test1, test2
        from vip
        <where>
            <if test="vId != null">
                and v_id = #{vId}
            </if>
            <if test="vStatus != null">
                and v_status = #{vStatus}
            </if>
            <if test="vPrice != null and vPrice != ''">
                and v_price = #{vPrice}
            </if>
            <if test="vDiscount != null and vDiscount != ''">
                and v_discount = #{vDiscount}
            </if>
            <if test="vCreatetime != null">
                and v_createtime = #{vCreatetime}
            </if>
            <if test="vEndtime != null">
                and v_endtime = #{vEndtime}
            </if>
            <if test="test1 != null and test1 != ''">
                and test1 = #{test1}
            </if>
            <if test="test2 != null and test2 != ''">
                and test2 = #{test2}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from vip
        <where>
            <if test="vId != null">
                and v_id = #{vId}
            </if>
            <if test="vStatus != null">
                and v_status = #{vStatus}
            </if>
            <if test="vPrice != null and vPrice != ''">
                and v_price = #{vPrice}
            </if>
            <if test="vDiscount != null and vDiscount != ''">
                and v_discount = #{vDiscount}
            </if>
            <if test="vCreatetime != null">
                and v_createtime = #{vCreatetime}
            </if>
            <if test="vEndtime != null">
                and v_endtime = #{vEndtime}
            </if>
            <if test="test1 != null and test1 != ''">
                and test1 = #{test1}
            </if>
            <if test="test2 != null and test2 != ''">
                and test2 = #{test2}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="vId" useGeneratedKeys="true">
        insert into vip(v_status, v_price, v_discount, v_createtime, v_endtime, test1, test2)
        values (#{vStatus}, #{vPrice}, #{vDiscount}, #{vCreatetime}, #{vEndtime}, #{test1}, #{test2})
    </insert>

    <insert id="insertBatch" keyProperty="vId" useGeneratedKeys="true">
        insert into vip(v_status, v_price, v_discount, v_createtime, v_endtime, test1, test2)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.vStatus}, #{entity.vPrice}, #{entity.vDiscount}, #{entity.vCreatetime}, #{entity.vEndtime},
            #{entity.test1}, #{entity.test2})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="vId" useGeneratedKeys="true">
        insert into vip(v_status, v_price, v_discount, v_createtime, v_endtime, test1, test2)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.vStatus}, #{entity.vPrice}, #{entity.vDiscount}, #{entity.vCreatetime}, #{entity.vEndtime},
            #{entity.test1}, #{entity.test2})
        </foreach>
        on duplicate key update
        v_status = values(v_status),
        v_price = values(v_price),
        v_discount = values(v_discount),
        v_createtime = values(v_createtime),
        v_endtime = values(v_endtime),
        test1 = values(test1),
        test2 = values(test2)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update vip
        <set>
            <if test="vStatus != null">
                v_status = #{vStatus},
            </if>
            <if test="vPrice != null and vPrice != ''">
                v_price = #{vPrice},
            </if>
            <if test="vDiscount != null and vDiscount != ''">
                v_discount = #{vDiscount},
            </if>
            <if test="vCreatetime != null">
                v_createtime = #{vCreatetime},
            </if>
            <if test="vEndtime != null">
                v_endtime = #{vEndtime},
            </if>
            <if test="test1 != null and test1 != ''">
                test1 = #{test1},
            </if>
            <if test="test2 != null and test2 != ''">
                test2 = #{test2},
            </if>
        </set>
        where v_id = #{vId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from vip
        where v_id = #{vId}
    </delete>

</mapper>

